/**
* @name ANTHONUS Background
* @author ANTHONUS
* @description Add a custom background on the chat and friend list of discord !
* @version 1.1.2
*/

@import url("https://anthonuss.github.io/DiscordBackground/ANTHONUSBackground.css");

:root {
    --background-image: url("https://raw.githubusercontent.com/stardust2802/images-to-use/a647879d730a79bd4862be1d87c07d27e9ab37dd/1749628701253.png"); /* Url of background image (from my website)*/
    --blur-amount: 1px; /* amount of background blur (recommended to be >1 for less screen artifacts*/
    --opacity-amount: 100%; /* Opacity of background-image.*/
}
